{% extends 'layout.html' %}
{% block title %}Add Bill{% endblock %}
{% block content %}
<div class="container">
    <h2>Add Bill</h2>
    <form action="{{ url_for('bills.add_bill') }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submitted_date.label }} {{ form.submitted_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_reading.label }} {{ form.first_reading() }}
            {{ form.first_reading_date.label }} {{ form.first_reading_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.second_reading.label }} {{ form.second_reading() }}
            {{ form.second_reading_date.label }} {{ form.second_reading_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.third_reading.label }} {{ form.third_reading() }}
            {{ form.third_reading_date.label }} {{ form.third_reading_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.presidential_assent.label }} {{ form.presidential_assent() }}
            {{ form.presidential_assent_date.label }} {{ form.presidential_assent_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.commencement.label }} {{ form.commencement() }}
            {{ form.commencement_date.label }} {{ form.commencement_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.document.label }} {{ form.document(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
