{% extends 'layout.html' %}
{% block title %} Admin Dashboard {% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Tana River Senate Office</h1>
    <h2>Admin Dashboard</h2>

    <p>Our mission is to serve the people of Tana River County by providing the best services possible.</p>

    <p>Our vision is to be the best Senate Office in Kenya.</p>


    <p>Your contact information is:</p>

    <ul>
        <li>Email: {{ current_user.email }}</li>
        <li>Phone: {{current_user.phone}}</li>
    </ul>
    <h2>The following are what you can access and do:</h2>
    <li>
        <h3>Create an office</h3>
        <a href="{{ url_for('offices.create_office') }}" class="btn btn-primary">Create Office</a>
    <h3>View office details and add new members</h3>
    <div class="list-group">
        {% for office in offices %}
        <a href="{{ url_for('offices.office_details', office_id=office.id) }}" class="list-group-item list-group-item-action">
            {{ office.office_name }}
        </a>
        {% endfor %}
    </div>
    <h3>View Records of employee_register</h3>
    <a href="{{ url_for('Users.employee_records') }}" class="btn btn-primary">View Records</a>
    </li>
</div>
{% endblock %}
