{%extends 'layout.html'%}
{%block title%}Admin Dashboard{%endblock%}
{%block content%}
<h2>Admin Dashboard</h2>
<!--include all the functions here that the admin can do such as creating an office, registering a new user, accesing diary, functions, calendars etc-->

<!--start with creating an office, give the link to the create office route, use bootstrap-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Create an office here</p>
            <a href="{{ url_for('offices.create_office') }}" class="btn btn-primary">Create Office</a>
        </div>
        <div class="col-md-4">
            <p>create an event here</p>
            <a href="{{ url_for('events.add_event') }}" class="btn btn-primary">Create Event</a>
        </div>
    </div>
</div>
{%endblock%}

