{%extends 'layout.html'%}
{%block title%} Coordinator Dashboard {%endblock%}
{%block content%}

<div class="container">

    <h1>Welcome to Tana River Senate Office</h1>
    <p>Our mission is to serve the people of Tana River County by providing the best services possible.</p>
    <p>Our vision is to be the best Senate Office in Kenya.</p>
    <p> the following are what you can access and do</p>
    <h1>Create an Event</h1>
    <!--use button-->
    <a href="{{ url_for('events.add_event') }}" class="btn btn-primary">Create Event</a>
    
    <h1>View events</h1>
    <!--add url for view events-->
    <a href="{{ url_for('events.view_events') }}" class="btn btn-primary">View Events</a>
    
    <p>My contact information is:</p>
    
    
    <h2>My Profile</h2>

    <p>My name is {{current_user.name}}</p>
    <p>My role is {{current_user.role}}</p>
    <p>My email is {{current_user.email}}</p>
    <p>My phone number is {{current_user.phone_number}}</p>
    
</div>
    
{%endblock%}