{% extends 'layout.html' %}
{% block title %}Add County Office Update{% endblock %}
{% block content %}
<div class="container">
    <h1>Add County Office Update</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.party_involved.label(class="form-label") }}
            {{ form.party_involved(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.issues.label(class="form-label") }}
            {{ form.issues(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.delegation.label(class="form-label") }}
            {{ form.delegation(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.contact_person.label(class="form-label") }}
            {{ form.contact_person(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.action_taken.label(class="form-label") }}
            {{ form.action_taken(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
