{% extends 'layout.html' %}
{% block title %}Functions{% endblock %}
{% block content %}
<div class="container">
    <h2>Functions</h2>
    <ul>
        <li><a href="{{ url_for('oversight.oversight_dashboard') }}">Oversight</a></li>
        <li><a href="{{ url_for('legislation.legislation') }}">Legislation</a></li>
        <li><a href="{{ url_for('representation.representation_dashboard') }}">Representation</a></li>
        <li><a href="{{ url_for('lobbying.lobbying_dashboard') }}">Lobbying</a></li>
    </ul>
</div>
{% endblock %}
