{% extends 'layout.html'%}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    <h1>Welcome to Tana River Senate Office</h1>
    <p>Our mission is to serve the people of Tana River County by providing the best services possible.</p>
    <p>Our vision is to be the best Senate Office in Kenya.</p>
    <p>Our core values are:</p>
    <ul>
        <li>Integrity</li>
        <li>Transparency</li>
        <li>Accountability</li>
        <li>Professionalism</li>
    </ul>
    
</div>
<div>
    <p>Create your office here</p>
    <a href="{{ url_for('offices.create_office') }}" class="btn btn-primary">Create Office</a>
</div>
{% endblock %}