{% extends 'layout.html'%}
{% block title%} Login {% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="POST" action="{{ url_for('Users.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }} {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-input") }}
            </div>
            <div class=" form-group mt-5">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            </form>
    </div>
{% endblock %}