{% extends 'layout.html'%}
{% block title%} Login {% endblock %}
{% block content %}

    <div class="container">

        <h1>{{ title }}</h1>
        <form method="POST" action="{{ url_for('offices.login_office') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.office_name.label }} {{ form.office_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

{% endblock %}