{%extends 'layout.html'%}
{%block title%}Motions{%endblock%}
{%block content%}
<h2>Motions</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Motions</h3>
            <ul>
                {%for motion in motions%}
                <li>{{motion.motion_title}}</li>
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Create Motion</h3>
            <a href="{{url_for('functions.motions')}}" class="btn btn-primary">Create Motion</a>
        </div>
    </div>
</div>
{%endblock%}