{% extends 'layout.html' %}

{% block title %}Researcher Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2>Researcher Dashboard</h2>
    <p>Welcome, Researcher!</p>

    <div class="row">
        <div class="col-md-6">
            <h3>Functions</h3>
            <ul>
                <!--add the route for functions which is in the homepage-->
                <a href="{{ url_for('legislation.functions') }}" class="btn btn-primary">Functions</a>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
