{% extends 'layout.html'%}
{% block title %} Secretary Dashboard {% endblock %}
{% block content %}

<div class="container">

    <h1>Welcome to Tana River Senate Office</h1>
    <p>Our mission is to serve the people of Tana River County by providing the best services possible.</p>
    <p>Our vision is to be the best Senate Office in Kenya.</p>
    <p> the following are what you can access and do</p>
    <ul>
        <li>Functions</li>
        <li>Offices</li>
        <li>Reminders</li>
        <li>Human Resource</li>
    </ul>
    <p>Our contact information is:</p>
    <ul>
        <li>Email: {{current_user.email}}</li>
    </ul>

    <!--register time in-->
    <h3>Register Time In</h3>
    <a href="{{url_for('Users.employee_register')}}" class="btn btn-primary">Register Time In</a>
    

    <!--view events only-->
    <h3>Add and View events</h3>
    <a href="{{url_for('events.view_events')}}" class="btn btn-primary">Add and View Events</a>

    <h2>Secretary Dashboard</h2>
    <p>Secretary: {{current_user.name}}</p>
    <p>Logged in: {{current_user.time_in}}</p>
    <p>Logged out: {{current_user.time_out}}</p>
    <p>Hours worked: {{current_user.hours_worked}}</p>
    <p>Status: {{current_user.status}}</p>
    <p>Date: {{current_user.date}}</p>
    <p>Office: {{current_user.office}}</p>


</div>
        
    {% endblock %}