{% extends 'layout.html'%}
{% block title %} Secretary Dashboard {% endblock %}
{% block content %}

<div class="container">

    <h1>Welcome to Tana River Senate Office</h1>
    <p>Our mission is to serve the people of Tana River County by providing the best services possible.</p>
    <p>Our vision is to be the best Senate Office in Kenya.</p>
    <p> the following are what you can access and do</p>
    

    <div class="mt-4">
        <p>To access the Parliament website and fetch order papers, bills, motions, and Hansard, click the button below:</p>
        <a href="http://www.parliament.go.ke/the-senate" class="btn btn-primary mb-2">Senate Order Paper</a>
    </div>

    <!--view events only-->
    <h3>Add and View events</h3>
    <a href="{{url_for('events.view_events')}}" class="btn btn-primary">Add and View Events</a>

    <h2>Secretary Dashboard</h2>
    <p>Secretary: {{current_user.name}}</p>
    <p>Email: {{current_user.email}}</p>
    <p>Role: {{current_user.role}}</p>
    <p>Phone: {{current_user.phone}}</p>


</div>
        
    {% endblock %}