{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Select Polling Station</h2>
    <form action="{{ url_for('representation.autofill') }}" method="POST">
        <div class="form-group">
            <label for="pollingStation">Polling Station</label>
            <select id="pollingStationSelect" class="form-control" name="polling_station">
                {% for station in polling_stations %}
                    <option value="{{ station.name }}">{{ station.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="form-group mt-3">
        <label for="ward">Ward</label>
        <input type="text" id="ward" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="constituency">Constituency</label>
        <input type="text" id="constituency" class="form-control" readonly>
    </div>
</div>

<script>
    async function fetchDetails() {
        const pollingStationSelect = document.getElementById('pollingStationSelect');
        const selectedPollingStation = pollingStationSelect.value.trim();

        if (!selectedPollingStation) {
            document.getElementById('ward').value = '';
            document.getElementById('constituency').value = '';
            return;
        }

        try {
            let url = `{{ url_for('representation.get_polling_station_details_by_name', polling_station_name='') }}${selectedPollingStation}`;
            const response = await fetch(url);
            const data = await response.json();

            if (data.error) {
                document.getElementById('ward').value = '';
                document.getElementById('constituency').value = '';
                alert(data.error);
            } else {
                document.getElementById('ward').value = data.ward;
                document.getElementById('constituency').value = data.constituency;
            }
        } catch (error) {
            console.error('Error fetching details:', error);
            alert('Error fetching details. Please try again.');
        }
    }

    document.getElementById('pollingStationSelect').addEventListener('change', fetchDetails);
</script>

{% endblock %}
