{%extends 'layout.html'%}
{%block title%}Statements{%endblock%}
{%block content%}
<h2>Statements</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Statements</h3>
            <ul>
                {%for statement in statements%}
                <li>{{statement.statement_title}}</li>
                {%endfor%}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Create Statement</h3>
            <a href="{{url_for('legislation.statements')}}" class="btn btn-primary">Create Statement</a>
        </div>
    </div>
</div>
{%endblock%}