{% extends 'layout.html' %}
{% block title %}View Bills{% endblock %}
{% block content %}
<h2>View Bills</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Submitted Date</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td>{{ bill.id }}</td>
            <td>{{ bill.name }}</td>
            <td>{{ bill.submitted_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
